<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPag</title>
<!--    <link rel="stylesheet" type="text/css" href="Styles.css">-->
    <link rel="stylesheet" href="index.css" type="text/css"/>    <!-- el titulo del .css podria ser main tambien -->
</head>
<body>
<!--#################################################-->
<div class="flex">
    <div>
        <div class="verdeConBorde">BCD</div>
        <div class="verdeConBorde">BCD</div>
        <div class="verdeConBorde">BCD</div>
    </div>
    <div>
        <div class="verdeConBorde">DURO</div>
        <div class="verdeConBorde">PATO</div>
    </div>
    <div class="verdeConBorde Flex-GROWS">Abc</div>
    <div class="verdeConBorde">Bdc</div>
    <div class="verdeConBorde">Cfg</div>
    <div class="verdeConBorde">Abc</div>
    <div class="verdeConBorde">Bdc</div>
    <div class="verdeConBorde">Cfg</div>
    <div class="verdeConBorde">Abc</div>
    <div class="verdeConBorde">Bdc</div>
    <div class="verdeConBorde">Cfg</div>
</div>
<!--#################################################-->
<div class="grid5">
    <div class="red">Header</div>
    <div class="red">Header</div>
    <div class="red">Content</div>
    <div class="red">Sidebar</div>
    <div class="red">Footer</div>
    <div class="red">Footer</div>
</div>
<!--#################################################-->
<br />
<!--#################################################-->
<div class="grid4">
    <div class="red">Header</div>
    <div class="red">Header</div>
    <div class="blue">Content</div>
    <div class="blue">Sidebar</div>
    <div class="red">Footer</div>
    <div class="red">Footer</div>
</div>
<!--#################################################-->
<div class="grid3">
    <div class="element3 header3">A</div>
    <div class="element3">B</div>
    <div class="element3">C</div>
    <div class="element3">D</div>
    <div class="element3">E</div>
    <div class="element3">F</div>
</div>
<br />
<!--#################################################-->
<!--#################################################-->
<div class="grid2">
    <div class="element2 header2">A</div>
    <div class="element2">B</div>
    <div class="element2">C</div>
    <div class="element2">D</div>
    <div class="element2">E</div>
    <div class="element2">F</div>
</div>
<br />
<!--#################################################-->
<!--#################################################-->
<div class="grid">
    <div class="element">A</div>
    <div class="element">B</div>
    <div class="element">C</div>
    <div class="element">D</div>
    <div class="element">E</div>
    <div class="element">F</div>
</div>
<!--#################################################-->
<ul class="TestItems1">
    <li>1000</li>
    <li>2500</li>
    <li>995</li>
</ul>
<!--#################################################-->
<div class="box4">
    <p>Soy una trancision</p>
</div>
<!--#################################################-->
<!--#################################################-->
<div class="box3">
    <p>Soy rotate</p>
</div>
<!--#################################################-->
<div class="box2">
    <p>Soy una caja de sombras</p>
</div>
<p class="PracticaSombrasP">HOla soy texto</p>
<!--#################################################-->
<div class="fondo2">
    <p>Lala</p>
    <p>Lele</p>
    <p>Lili</p>
    <p>Lolo</p>
    <p>Maria</p>
</div>
<!--#################################################-->
<!--#################################################-->
<div class="fondo">
    <p>Lala</p>
    <p>Lele</p>
    <p>Lili</p>
    <p>Lolo</p>
    <p>Maria</p>
</div>
<!--#################################################-->
<div class="Dropdown">
    <button class="Dropdown-btn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
    </div>
</div>
<p>Soy un parrafo</p>
<!--#################################################-->
<div class="box">
    <form>
        <label>Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="nombre"/>
        <label>Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="apellido"/>
        <label>Mensaje</label>
        <textarea id="formularioTextArea"></textarea>
        <input type="submit" id="formularioAceptar" value="aceptar"/>
    </form>
</div>
<!--#################################################--><!--#################################################--><!--#################################################-->
<!--#################################################-->
<!--PARA EL TEXTO FLOTANTE QUE APARECE ARRIBA TIPO MINI MENU -->
<!--#################################################-->

<!--<ul class="PractiacaUlLista">-->
<!--    <li class="PracticaLiDL"><a class="PracticaADL active" href="#Inicio">Inicio</a></li>-->
<!--    <li class="PracticaLiDL"><a class="PracticaADL" href="#Inicio">Blog</a></li>-->
<!--    <li class="PracticaLiDL"><a class="PracticaADL" href="#Inicio">Acerca de</a></li>-->
<!--</ul>-->
<!--<div class="content">-->
<!--    <p> Hola soy una prueba</p>-->
<!--</div>-->

<!--#################################################--><!--#################################################--><!--#################################################-->
<!--#################################################-->
<p>Lala</p>
<div>
    <img src="http://placekitten.com/200/200" class="PracticaFlotantesImg"/>
    <p class="PracticaFlotantes">Donde vamos a indicar un texto mas largo de lo lo normal para que podemos ver como actua
la propiedad de float</p>
</div>
<!--#################################################-->
<div id="over">
    lale lele lili , este es un parrafo que espero poder esconder de la suricata de el vecino roba sandias saladas y transformer
    que no sabe contaner que me estar container bro owp wopa apon , ni idea bro ya fue , no me la contes
</div>
<!--#################################################-->


<!--Lo deje bloqueado por pobre , aparte que me ocupaba pantalla-->

<!--<p class="PracticaMax-Width">Soy un parrafo de prueba</p>-->




<!--#################################################-->
<h1> Del h1 al h6 son bloques</h1>
<div> Los divs tambien son bloques</div>
<form> Los Formularios tambien son bloques</form>
<header> La etiqueta de header , tambien un bloque</header>
<footer>  Footer tambien otro bloque</footer>
<section> Y tambien section es un bloque</section>

<div id="SoyInvisible"> Soy invisible </div>

<hr />
<a> Los anchor / links son inline</a>
<img src="" alt="Las imagenes tambien son inline">
<hr />

<p class="PractiacaBlockParrafo">Hola soy un bloque! / block</p>
<p class="PractiacaBlockParrafo">Hola soy un bloque! / block</p>
<span class="PracticaInlineSpan">Hola soy un En linea / inline</span>
<span class="PracticaInlineSpan">Hola soy un En linea / inline</span>
<!--#################################################-->
<table class="TablaReDura">
    <tr class="TableRowDTRD">
        <th class="TableHeadingDTRD">Compania</th>
        <th class="TableHeadingDTRD">Nombre</th>
        <th class="TableHeadingDTRD">Direccion</th>
    </tr>
    <tr class="TableRowDTRD">
        <td class="TableDataDTRD">Puerco</td>
        <td class="TableDataDTRD">El pepe</td>
        <td class="TableDataDTRD">5312 vis</td>
    </tr>
    <tr class="TableRowDTRD">
        <td class="TableDataDTRD">Lala</td>
        <td class="TableDataDTRD">Lele</td>
        <td class="TableDataDTRD">LILI</td>
    </tr>

</table>
<!--#################################################-->

<ul class="ListaRedura">
    <li>Elemento 1</li>
    <li>Elemento 2</li>
    <li>Elemento 3</li>
</ul>


<!--#################################################-->
<a href="https://www.google.com" class="linkCheto"> Google !</a>
<!--#################################################-->

<p class="parrafo_duro">Hola soy un parrafo re duroHola soy un parrafo re duroHola soy un parrafo re duro
Hola soy un parrafo re duroHola soy un parrafo re duroHola soy un parrafo re duroHola soy un parrafo re duro
Hola soy un parrafo re duroHola soy un parrafo re duroHola soy un parrafo re duro</p>
<a href="https://github.com" class="a_github">Ir a github</a>



<!--#################################################-->
<!--Practica-->
<div class="caja">
    <div class="header">Soy cabezera</div>
    <div class="contenido">Soy contenido</div>
    <div class="footer">
        <button class="primario">Aceptar</button>
        <button class="secundario">Cancelar</button>
    </div>
</div>

<!--#################################################-->
<!--Practica-->
<div class="divPractica">
    <strong>Soy cabezera</strong><br />
    <hr />
    <p class="muestra_css"><strong>Soy subcabezera asdlasjdlaskj dlaskjdlasjdlaskjd alsdjasldjas lkdjalsjd</strong></p>
    <hr />
    <button class="botonAceptar">Aceptar</button>
    <button class="botonCancelar">Cancelar</button>
</div>
<br />
<br />
<!--#################################################-->



<!--<p id="parrafo">Este es un parrafo</p>-->
<span class="Espan">Este es un span</span>
<span class="Espan">Este es otro span</span>
<span class="Espan">Este es el tercer span</span>



<p>Por favor rellena el siguiente formulario para ponerte en contacto con nosotros</p>
<fieldset>
    <legend>Datos de contacto</legend>
    <form action="contacto.html">
        <label>Nombre</label>
        <input />
        <label>Apellido</label>
        <input />
        <br />
        <label>Correo</label>
        <input type="email" />
        <br />
        <label>Comentarios</label>
        <textarea></textarea>
        <button>Aceptar</button>
    </form>
</fieldset>


<h1><a href="index.html">Inicio</a></h1>
<ul>
    <li><a href="index.html">Pagina 1</a></li>
    <li><a href="pagina2.html">Pagina 2</a></li>
    <li><a href="pagina3.html">Pagina 3</a></li>
</ul>
<img src="http://placekitten.com/200/200"/>


    <form>
        <input />Prueba <!-- Esta viene con el type text por default -->
        <br />

        <fieldset> <!-- Basicamente para agrupar elementos, es tipo una table -->
        <legend>Campo de usuario</legend> <!-- Le ponemos como un titulo a nuestro cubiculo -->
            <label>Nombre</label>
            <input type="text" placeholder="nombre"/><br />
            <label>Numero</label>
            <input type="number" placeholder="numero"/><br />
            <label>Contraseña</label>
            <input type="password" placeholder="contraseña"/><br />
        </fieldset>


        <label>Boton submit</label>
        <input type="submit" value="Submit modificado"/><br /> <!-- Para cuando estamos del lado del servidor mas que todo -->
        <textarea>Soy un texto resizeable</textarea>
        <button>Aceptar</button>

        <select>
            <option value="1">1</option>    <!-- Es importante poner el value tambien , porque el numeroo de la derecha es lo que se muestra , todo esto como para el server -->
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </form>
<img src="http://placekitten.com/200/300" />
<br />
<a href="https://www.google.com">Ir a google</a>
<ul>
    <li>Elemento 1</li>
    <li>Elemento 2</li>
    <li>Elemento 3</li>
</ul>
<ol>
    <li>Elemento 1</li>
    <li>Elemento 2</li>
    <li>Elemento 3</li>
</ol>

<table>
    <thead>
        <tr>
            <th>Mes</th>    <!-- para los headers / titulos usamos TH (table headers) para la info TD (que es lo que esta mas abajo) -->
            <th>Ahorro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Enero</td>
            <td>$1000</td>
        </tr>
        <tr>
            <td>Febrero</td>
            <td>$500</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Suma total:</td>
            <td>$1500</td>
        </tr>
    </tfoot>
</table>









<h1>Titulo 1</h1>
<h2>Titulo 2</h2>
<h3>Titulo 3</h3>
<h4>Titulo 4</h4>
<h5>Titulo 5</h5>
<h6>Titulo 6</h6>
<hr /> <!--Crea una linea en el medio de la pagina , es tipo un separador-->
<p>Hola soy un <b>parrafo</b></p>   <!-- La etiqueta b sirve para poner en negrita el texto (creo que se llama bold) -->
<strong>Soy como la etiqueta b</strong>
<p>Hola <br />soy un parrafo 2! asdasdasdasd</p>
<blockquote>Esta estiqueta se usa cuando queremos citar algun artista o algo</blockquote>
<code>Basicamente para poner codigo y que tenga un formato distinto</code>
<br />
<em>Soy texto con enfasis!</em>
<br />
<i>Soy texto con el formato Italic cursiva</i>
<pre>Soy texto preformateado</pre>  <!-- Se utiliza cuando queremos utilizar un texto que tenga otro formato dentro de nuestro sitio. -->
<s>Estoy tachado</s>
<br />
<small>Soy texto chiquito</small>
<br />
<u>Estoy subrayado</u>
<div>Soy una division</div> <!-- Es como un <p> combinado con un <br /> -->
<div>Soy una division</div>
<div>Soy una division</div>

</body>
</html>